# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.cache
/.parcel-cache
/node_modules
dist/viz.d67aa952.js.map
dist/viz.d67aa952.js
dist/viz.c04004ba.js.map
dist/viz.c04004ba.js
dist/viz.b9b3426c.js.map
dist/viz.b9b3426c.js
dist/viz.b2f83f57.js.map
dist/viz.b2f83f57.js
dist/viz.b2f3aa9a.js.map
dist/viz.b2f3aa9a.js
dist/viz.a531b47c.js.map
dist/viz.a531b47c.js
dist/viz.8bdb35ab.js.map
dist/viz.8bdb35ab.js
dist/viz.7cd511a8.js.map
dist/viz.7cd511a8.js
dist/viz.4070af6c.js.map
dist/viz.4070af6c.js
dist/viz.30ff1721.js.map
dist/viz.30ff1721.js
dist/viz.16fe4e05.js.map
dist/viz.16fe4e05.js
dist/index.html
dist/index.f6df48e2.css.map
dist/index.f6df48e2.css
dist/index.dde9cbc4.js.map
dist/index.dde9cbc4.js
dist/index.b846eb79.js.map
dist/index.b846eb79.js
dist/index.b2f83f57.js.map
dist/index.b2f83f57.js
dist/index.b2625c6b.css.map
dist/index.b2625c6b.css
dist/index.a9fa2a57.js.map
dist/index.a9fa2a57.js
dist/index.7394d92e.js.map
dist/index.7394d92e.js
dist/index.69134871.js.map
dist/index.69134871.js
dist/index.5ed617fa.js.map
dist/index.5ed617fa.js
dist/index.4af7d802.js.map
dist/index.4af7d802.js
dist/index.261257e2.js.map
dist/index.261257e2.js
dist/index.1bba6dab.js.map
dist/index.1bba6dab.js
dist/index.1b9b3cf1.js.map
dist/index.1b9b3cf1.js
dist/index.0d241fb8.js.map
dist/index.0d241fb8.js
dist/data.b6436a7c.js.map
dist/data.b6436a7c.js
